#content {
    height: 100%;
    min-width: 1180px;
    min-height: 100%;
    height: max-content;
    
    margin: 0px;
    margin-top: -20px;
    padding: 0px;

    display: flex;
    flex-wrap: wrap;
}

.main {
    background-color: white;
    width: 80%;
    padding: 40px;
}

#class-info {
    padding: 40px; 
    background-color: white;
    height: 95%;
}

.left
{
    width: 80%;
    margin-right: 3%;
}

.right
{
    width: 14%;
    margin-right: 3%;
    text-align: center;
}

.row
{
    width: 85%;
    margin-left: 5%;
    margin-right: 5%;
    padding: 10px 0;
    border-bottom: 1px solid #dddddd;
}

.links
{
    text-decoration: none;
    color: black;
}

.disc_icon
{
    font-size: 25px !important; 
    margin-top: -10px; 
    float: right; 
    color: #457B9D;
}

#edit_btn, #comment_btn, #delete_btn,
#editC_btn, #commentC_btn, #deleteC_btn, 
#add_btn0, #add_btn1, #add_btn2, #confirm_button
{
    float: right;
}

#createcontainer, #editcontainer
{
      display: none;
      flex-wrap: wrap;
      flex-direction: column;
      justify-content: center;
      background-color: white;
      padding: 40px;
      width: 80%;
      margin-right: auto; 
      margin-left: auto;
}

textarea
{
    border-radius: 0px; 
    color: black; 
    margin-right: auto; 
    margin-left: auto;
}

/* 
    Requirements
*/

.task-container {
    padding: 20px;
} 

.req-title {
    font-size: 4.5vh;
    margin: 0 0 8px 0;
} 

.req-type {
    font-size: 2vh;
    font-family: 'Rubik', sans-serif;
    font-weight: 600;
    font-style: italic;
    margin-left: 20px;
    color: #444444;
} 

.req-details {
    font-size: 2vh;
    margin-top: 10px;
    margin-bottom: 0;
} 

#note
{
    margin:  0px 20px;
    text-indent: 20px;
    font-family: 'Pangolin', cursive;
    font-size: 18px;
    color: #222222;
    width: 100%;
    white-space: pre-wrap;
}