@import url('https://fonts.googleapis.com/css2?family=Pangolin&family=Rubik:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300&display=swap');

body, html {
	height: 100%;
	width: 100%;
	min-height: 100%
}

h1 {
	font-family: 'Rubik', sans-serif;
	font-weight: 600;
	font-size: 6vh;
	margin-bottom: 0;
	color: #222222;
}

h2 {
	font-family: 'Rubik', sans-serif;
	font-size: 36px;
	color: #222222;
}

h3 {
	font-family: 'Pangolin', cursive;
	font-size: 24px;
	color: #222222;
}

h5 {
	font-family: 'Pangolin', cursive;
	font-size: 2vh;
	margin-left: 20px;
	margin-top: 0px;
	margin-bottom: 10px;
	color: #457b9d;
}

h6 {
	font-family: 'Pangolin', cursive;
	font-size: 18px;
	margin-top: -10px;
	color: #222222;
}

p, label, input[type="text"], input[type="password"] {
	color: white;
	font-family: 'Rubik', sans-serif;
	font-weight: 300;
}

/*
	Navigation Bar (Top)
*/

.navbar {
	min-width: 700px;
}

.navbar-custom { 
	background-color: #1d3557; 
} 

.navbar-custom .nav-link { 
	color: white;
	font-family: 'Rubik', sans-serif;
	font-size: 18px;
} 

.navbar-custom .nav-link:hover { 
	color: white;
	font-family: 'Rubik', sans-serif;
	font-size: 18px;
	transition: all 0.2s;
}

#searchBox {
	border: #1d3557 solid 2px;
}


#search_btn {
	background-color: #457B9D;
	border: #457B9D solid 2px;
}

/*
	Navigation Bar (Side)
*/

#sideNav
{
	width: 14%;
	min-width: 141px;
	min-height: 100%;
	background-color: rgba(69, 123, 157, 0.8);
	background-image: url("../images/tile.png");
  	padding: 0px;
	margin: 0px;
	overflow: hidden;
	padding-top: 20px;
}

.active
{
	border-top-left-radius: 15px;
	border-bottom-left-radius: 15px;
	background-color: white;
	margin-left: -10px;
	padding-left: 10px 
}

content li a {
  display: block;

}

.navigationDiv
{
	margin-left: 10px;
	padding-left: 10px;
	width: 100%;
	height: 100%;
	color: white;
}

.item
{
	padding-left: 10px;
	background-color: rgba(69, 123, 157, 0.85);
	width: 95%;
}

.down
{
	border-top-right-radius: 15px;
}

.up
{
	border-bottom-right-radius: 15px;
}

.icon
{
	color: white;
	font-size: 17px;
}

.icon_name
{
	color: white;
	font-size: 15px;
}


/*
	Breadcrumbs
*/
ul.breadcrumb {
	list-style: none;
}

ul.breadcrumb li {
	display: inline;
	font-family: 'Pangolin', cursive;
	font-size: 20px;
}

ul.breadcrumb li+li:before {
	padding: 8px;
	color: black;
	content: ">";
}

ul.breadcrumb li a {
	color: #0275d8;
	text-decoration: none;
}

ul.breadcrumb li a:hover {
	color: #01447e;
	text-decoration: underline;
}


/*
	Containers
*/

.main-content {
    padding: 30px;
    height: 100%;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: auto;
    margin-bottom: auto;
    display: flex;
    flex-wrap: wrap;
	min-width: 100px;
	min-height: 700px;
}

.auth-content {
	margin-top: auto;
	margin-bottom: auto;
	background: #1D3557;
	position: relative;
	display: flex;
	justify-content: center;
	flex-direction: column;
	padding: 10px;
	box-shadow: 0 8px 8px 0 rgba(0, 0, 0, 0.2), 0 8px 20px 0 rgba(0, 0, 0, 0.19);
	border-radius: 5px;
}

.img-container {
	margin: auto 10px;
}

.img {
	max-width: 100%;
	height: auto;
	max-height: 120px;
}

.text-container {
	flex-grow: 8;
	margin: auto;
}

.link {
	color: black;
	text-decoration: none;
}

.task-container {
	width: 100%;
	height: auto;
	margin-top: 10px;
	margin-bottom: 10px;
	margin-left: auto;
	margin-right: auto;
	background-color: #A8DADC;
	padding: 10px;
	display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
}

.class-container, .person-container {
	width: 100%;
	height: auto;
	margin-top: 10px;
	margin-bottom: 10px;
	margin-left: auto;
	margin-right: auto;
	background-color: #A8DADC;
	padding: 10px 40px;
	display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}

/*
	Auth Elements (Login / Signup)
*/

.box {
	height: 100%;
	width: 100%;
	justify-content: center;
}

.display {
	display: flex; 
	justify-content: center;
}

.logo_container {
	position: absolute;
	height: 170px;
	width: 170px;
	top: -75px;
	border-radius: 50%;
	background: #60a3bc;
	padding: 10px;
}

.logo {
	height: 150px;
	width: 150px;
	border-radius: 50%;
}

/*
	Form Elements
*/

.form-left {
    float: left;
    margin-left: auto;
    margin-right: auto;
    display: flex; 
	justify-content: center; 
	width: 65%;
}

.form-right {
	float: right;
	display: flex; 
	justify-content: center; 
	width: 35%;
}

.input_field {
	line-height: 40px; 
	width: 120px;
}

/*
	Backgrounds
*/

.auth-bg {
	background-image: url("../images/bg-login.jpg");
	background-repeat: no-repeat;
	background-position: center; 
	background-attachment: fixed;
	background-size: cover;
    height: 100vh;
    width: 100%;
}

.tile {
	background-image: url("../images/tile.png");
    height: 100%;
    width: 100%;
}