@import url('https://fonts.googleapis.com/css2?family=Pangolin&family=Rubik:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300&display=swap');

body {
	background-image: url("../images/tile.png");
}

.main-content > div {
  	margin: 20px;
}

#calendar {
	flex-grow: 6;
	background-color: white;
	padding: 40px;
}

#task {
	flex-grow: 1;
	background-color: white;
	padding: 40px;
}
