@import url('https://fonts.googleapis.com/css2?family=Pangolin&family=Rubik:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300&display=swap');

body {
	background-image: url("../images/tile.png");
}

.main-content > div {
  	margin: 20px;
}

#calendar {
	flex-grow: 6;
	background-color: white;
	padding: 40px;
}

#task {
	flex-grow: 1;
	background-color: white;
	padding: 40px;
}

.task-container {
	background-color: #a8dadc;
	padding: 10px;
	padding-bottom: 2px;
	margin-top: 10px;
}

table {
	width: 100%;
	height: 70vh;
}

.tg-wrap td {
	border-color:#1d3557;
	border-style:solid;
	border-width:3px;
	font-family: 'Rubik', sans-serif;
	font-size:14px;
	text-align: center;
  	overflow:hidden;
  	padding:10px 5px;
  	word-break:normal;
  	width:14%;
 }

.tg-wrap th {
	background-color: #1d3557; 
	color: white;
	border-color:#1d3557;
	border-style:solid;
	border-width:3px;
	font-family: 'Rubik', sans-serif;
	font-size:16px;
	text-align: center;
  	font-weight:500;
  	overflow:hidden;
  	padding:10px 5px;
  	word-break:normal;
 }

.tg-wrap tr:nth-child(1) {
	background-color: #457b9d; 
	color: white;
	height: 20px;
}

.today {
	background-color: #a8dadc; 
	font-weight: bold;
}