body, html {
	height: 100%;
	width: 100%;
	background: #457B9D !important;
	margin: 0;
	padding: 0;
}


label {
	margin-right: 20px;
}

.auth-content {
	height: 450px;
	width: 650px;
	margin-right: auto;
	margin-left: auto;
	align-self: center;
}

.form {
	display: flex; 
	justify-content: center; 
	margin-top: auto; 
	margin-left: auto;
	margin-right: auto;
	margin-bottom: auto;
	width: 100%;
	height: 85%;
}

.signup_button {
	width: 10%;
	background: #A8DADC !important;
	color: #1D3557 !important;
	clear: both;
	margin-top: 20px;
	width: 100px;
}

.field {
	width: 75%;
	clear: right;
}

.input_field {
	line-height: 40px; 
	width: 120px;
}

label
{
	font-size: 15px;
}

.left {
    float: left;
    margin-left: auto;
    margin-right: auto;
    display: flex; 
	justify-content: center; 
	width: 60%;
}

.right {
	float: right;
	display: flex; 
	justify-content: center; 
	width: 40%;
}