h2 {
    margin-left: auto;
    margin-right: auto;
    font-size: 5vh;
    line-height: 5vh;
    margin-top: -10px;
    margin-bottom: 20px;
    text-align: center;
    max-width: 40vh;
}

h3 {
    margin-top: 20px;
}

h4 {
    color: black;
    margin-bottom: 10px;
}

h6 {
    width: 5%;
    margin-left: 5%;
    width: 100%;
}

#content {
    height: 100%;
    min-width: 1180px;
    min-height: 100%;
    height: max-content;
    
    margin: 0px;
    margin-top: -20px;
    padding: 0px;

    display: flex;
    flex-wrap: wrap;
}

.main {
    background-color: white;
    width: 80%;
    display: flex;
    flex-direction: row;
}

.side-prof {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-width: 300px;
    padding: 0px 20px;
    flex-grow: 1;
    background-color: #F1FAEE;
}

.info-box {
    padding: 40px;
    flex-grow: 8;
    margin-top: 2%;
    margin-left: 2%;
    margin-right: 2%;
}

.logo_container 
{
    margin-left: auto;
    margin-right: auto;
    margin-top: 50%;
    position: relative;
    margin-bottom: -50px;
}

.logo {
    height: 150px;
    width: 150px;
    border-radius: 50%;
    margin-left: auto;
    margin-right: auto;
}

#bio {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    font-size: 2vh;
    max-width: 40vh;
    color: #555555;
}

.login_button 
{
    height: 50px;
    width: 40%;
    background: #A8DADC !important;
    color: #1D3557 !important;
    font-family: 'Rubik', sans-serif;
    font-weight: 400;
    margin-left: 30%;
    margin-right: 30%;
}

#spacer {
    background-color: #F1FAEE;
    flex-grow: 8;
}

.row
{
    width: 85%;
    margin-left: 10%;
    margin-right: 5%;
}

.col
{
    width: 47%;
    margin-right: 3%;
}



