@import url('https://fonts.googleapis.com/css2?family=Pangolin&family=Rubik:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300&display=swap');

label {
	color: #1d3557;
	font-family: 'Rubik', sans-serif;
	font-weight: 300;
	margin-right: 20px;
	font-size: 15px;
}

#content {
    height: 100%;
    min-width: 1180px;
	min-height: 100%;
    height: max-content;
	
    margin: 0px;
    margin-top: -20px;
    padding: 0px;

    display: flex;
    flex-wrap: wrap;
}

.main {
	background-color: white;
	width: 80%;
	padding: 40px;
}

table {
	width: 100%;
}

.tg-wrap td {
	border-color:#1d3557;
	border-style:solid;
	border-width:1px;
	font-family: 'Rubik', sans-serif;
	font-size:2vh;
	text-align: center;
  	overflow:hidden;
  	word-break:normal;
  	width: 10%;
  	height: 20px;
 }

.tg-wrap th {
	background-color: #1d3557; 
	color: white;
	border-color:#1d3557;
	border-style:solid;
	border-width:3px;
	font-family: 'Rubik', sans-serif;
	font-size:2vh;
	text-align: center;
  	font-weight:500;
  	overflow:hidden;
  	padding:10px 5px;
  	word-break:normal;
 }

.classtime {
	background-color: #a8dadc; 
}

#drop {
	height: 40px;
	width: 80%;
	margin: auto auto;
}

#class_box {
	border: #457B9D solid 2px;
}

#class_btn {
	background-color: #457B9D;
	border: #457B9D solid 2px;
	height: 40px;
}

.create-container, .drop-container {
	display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    background-color: white;
	padding: 40px;
	width: 80%;

}

#create_button, #drop_button, #edit_button, #comment_button {
	display:inline-block;
	padding:0.3em 1.2em;
	margin: auto auto;
	border-style: none;
	box-sizing: border-box;
	text-decoration:none;
	font-family:'Rubik',sans-serif;
	font-size: 18px;
	font-weight:400;
	color:#000000;
	background-color:#A8DADC;
	text-align:center;
	transition: all 0.2s;
}

#create_button:hover, #drop_button:hover {
	background-color:#457B9D;
}

