@import url('https://fonts.googleapis.com/css2?family=Pangolin&family=Rubik:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300&display=swap');

#content {
    height: 100%;
    min-width: 1180px;
	min-height: 100%;
    height: max-content;
	
    margin: 0px;
    margin-top: -20px;
    padding: 0px;

    display: flex;
    flex-wrap: wrap;
}

.main {
	background-color: white;
	width: 80%;
	padding: 40px;
}

table {
	width: 100%;
}

.tg-wrap td {
	border-color:#1d3557;
	border-style:solid;
	border-width:3px;
	font-family: 'Rubik', sans-serif;
	font-size:2vh;
	text-align: center;
  	overflow:hidden;
  	word-break:normal;
  	width: 10%;
  	height: 20px;
 }

.tg-wrap th {
	background-color: #1d3557; 
	color: white;
	border-color:#1d3557;
	border-style:solid;
	border-width:3px;
	font-family: 'Rubik', sans-serif;
	font-size:2vh;
	text-align: center;
  	font-weight:500;
  	overflow:hidden;
  	padding:10px 5px;
  	word-break:normal;
 }

.classtime {
	background-color: #a8dadc; 
}

#class_box
{
	border: #457B9D solid 2px;
}

#class_btn
{
	background-color: #457B9D;
	border: #457B9D solid 2px;
	height: 40px;
}