body {
	background-image: url("../images/tile.png");
}

h2 {
	margin: 0px auto;
	font-family: 'Pangolin', cursive;
	font-size: 4.5vh
	color: #333333;
}

h3 {
	margin-top: -5px;
	margin-bottom: 20px;
	margin-left: 20px;
}

p {
	margin: 0px auto;
	text-overflow: ellipsis;
	font-family: 'Pangolin', cursive;
	color: #333333;
}

.main-content {
	padding: 40px 10%;
}

.form-outline {
	width: 60%;
}

#searchBox {
	font-size: 2vh;
}

#search-user-results {
	display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    background-color: white;
	padding: 40px;
	width: 100%;
	box-shadow: 0 4px 4px 0 rgba(29, 53, 87, 0.2), 0 4px 10px 0 rgba(29, 53, 87, 0.19);
}

#search-class-results {
	display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    background-color: white;
	padding: 40px;
	width: 100%;
	margin-top: -70px;
}

.button {
	 height: 40px;
}