.main-content {
	margin-top: auto;
  	margin-left: auto;
  	margin-right: auto;
  	margin-bottom: auto;
  	flex-grow: 6;
	background-color: white;
	padding: 2%;
	min-height: max-content;
	height: 100%;
	width: 100%;
}

.tile {
	background-image: url("../images/tile.png");
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
}

.container
{
	margin-top: auto;
  	margin-left: auto;
  	margin-right: auto;
  	margin-bottom: auto;
  	flex-grow: 6;
	
	padding: 2%;
	min-height: max-content;
	height: 97%;
	width: 98%;

}