@import url('https://fonts.googleapis.com/css2?family=Pangolin&family=Rubik:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300&display=swap');

#content {
    height: 100vh;
}

.splash-bg-main {
    box-shadow: 0 8px 8px 0 rgba(0, 0, 0, 0.2), 0 8px 20px 0 rgba(0, 0, 0, 0.19);
}

.tile {
	display: flex;
	align-items: center;
}

#text {
	padding: 6vh;
	background-color: #1D3557;
    height: 400px;
    width: 100%;
    text-align: center;
    box-shadow: 0 8px 8px 0 rgba(0, 0, 0, 0.2), 0 8px 20px 0 rgba(0, 0, 0, 0.19);
}

#tagline {
	margin-top: 12px;
	margin-bottom: 30px;
	color: #F1FAEE;
	font-style: italic;
}

a.button {
	display:inline-block;
	padding:0.3em 1.2em;
	margin:0 0.3em 0.3em 0;
	border-radius:0.5em;
	box-sizing: border-box;
	text-decoration:none;
	font-family:'Rubik',sans-serif;
	font-size: 24px;
	font-weight:400;
	color:#000000;
	background-color:#A8DADC;
	text-align:center;
	transition: all 0.2s;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 4px 20px 0 rgba(0, 0, 0, 0.19);
}

a.button:hover {
	background-color:#457B9D;
}
