<a href="/classes/{{classID}}/home" class="link">
	<div class="class-container">
		<div class="img-container"><img src="/images/book.png" class="img" alt="{{classname}}"></div>
		<div class="text-container">
			<h2>{{classname}}</h2>
			<h3>{{coursecode}}</h3>
		</div>
	</div>  
</a>