<div class="tg-wrap"><table>
  <thead>
    <tr>
      <th>Time</th>
      <th>Monday</th>
      <th>Tuesday</th>
      <th>Wednesday</th>
      <th>Thursday</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>09:00AM - 09:15AM</td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td>09:15AM - 09:30AM</td>
      <td class="classtime" rowspan="6">ST-MATH<br>09:15AM - 10:45AM</td>
      <td class="classtime" rowspan="6">STALGCM<br>09:15AM - 10:45AM</td>
      <td class="classtime" rowspan="6">ST-MATH<br>09:15AM - 10:45AM</td>
      <td></td>
    </tr>
    <tr>
      <td>09:30AM - 09:45AM</td>
      <td></td>
    </tr>
    <tr>
      <td>09:45AM - 10:00AM</td>
      <td></td>
    </tr>
    <tr>
      <td>10:00AM - 10:15AM</td>
      <td class="classtime" rowspan="8">GETEAMS<br>10:00AM - 12:00NN</td>
    </tr>
    <tr>
      <td>10:15AM - 10:30AM</td>
    </tr>
    <tr>
      <td>10:30AM - 10:45AM</td>
    </tr>
    <tr>
      <td>10:45AM - 11:00AM</td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td>11:00AM - 11:15AM</td>
      <td class="classtime" rowspan="6">STALGCM<br>11:00AM - 12:30NN</td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td>11:15AM - 11:30AM</td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td>11:30AM - 11:45AM</td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td>11:45AM - 12:00NN</td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td>12:00NN - 12:15PM</td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td>12:15PM - 12:30PM</td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td>12:30PM - 12:45PM</td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td>12:45PM - 01:00PM</td>
      <td></td>
      <td class="classtime" rowspan="6">CSARCH1<br>12:45PM - 02:15PM</td>
      <td></td>
      <td class="classtime" rowspan="6">CSARCH1<br>12:45PM - 02:15PM</td>
    </tr>
    <tr>
      <td>01:00PM - 01:15PM</td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td>01:15PM - 01:30PM</td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td>01:30PM - 01:45PM </td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td>01:45PM - 02:00PM</td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td>02:00PM - 02:15AM</td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td>02:15AM - 02:30AM</td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td>02:30AM - 02:45AM</td>
      <td class="classtime" rowspan="6">CCAPDEV<br>02:30PM - 04:00PM</td>
      <td></td>
      <td class="classtime" rowspan="6">CCAPDEV<br>02:30PM - 04:00PM</td>
      <td></td>
    </tr>
    <tr>
      <td>02:45AM - 03:00PM</td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td>03:00PM - 03:15PM</td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td>03:15PM - 03:30PM</td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td>03:30PM - 03:45PM</td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td>03:45PM - 04:00PM</td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td>04:00PM - 04:15PM</td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td>04:15PM - 04:30PM</td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td>04:30PM - 04:45PM</td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td>04:45PM - 05:00PM</td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
  </tbody>
</table>
</div>