<div id="task">
  <h1>Your Tasks</h1>
  <h5>Your list of upcoming deadlines!</h5><hr>
  <a href = "../src/classes/apdev/reqs.html" class="links">
    <div class="task-container">
      <h3>Machine Project Phase 1</h3>
      <h6 class="task-details">CCAPDEV | Due April 05, 2021</h6>
    </div>
  </a>
  <a href = "../src/classes/arch1/reqs.html" class="links">
    <div class="task-container">
      <h3>Long Quiz 1</h3>
      <h6 class="task-details">CSARCH1 | Due April 06, 2021</h6>
    </div>
  </a>
  <a href = "../src/classes/stmath/reqs.html" class="links">
    <div class="task-container">
      <h3>Homework 4</h3>
      <h6 class="task-details">ST-MATH | Due April 07, 2021</h6>
    </div>
  </a>
  <a href = "../src/classes/stmath/reqs.html" class="links">
    <div class="task-container">
      <h3>Long Quiz 1</h3>
      <h6 class="task-details">ST-MATH | Due April 07, 2021</h6>
    </div>
  </a>
  <a href = "../src/classes/algcm/reqs.html" class="links">
    <div class="task-container">
      <h3>Long Quiz 1</h3>
      <h6 class="task-details">STALGCM | Due April 16, 2021</h6>
    </div>
  </a>
</div>