<a href = "/classes/{{classID}}/requirements" class="links">
    <div class="task-container">
      <h3>{{title}}</h3>
      <h6 class="task-details">{{coursecode}} | Due {{deadline}}</h6>
    </div>
</a>