<nav class="navbar navbar-expand-sm navbar-custom">
	<div class="container-fluid">
		<a class="navbar-brand" href="splash.html"><img src="../images/logo.png" id="logo" height ="30px"></a>
	</div>
</nav>