<!DOCTYPE html>
<html>
<head>
	<link href="/external/css/bootstrap.min.css" rel="stylesheet">
	<link href="/css/css.css" rel="stylesheet">
	<link rel="icon" href="/images/logo-nt.png">
	<link href = "https://use.fontawesome.com/releases/v5.6.1/css/all.css" rel = "stylesheet">
	<link rel="stylesheet" href="navbar-fixed-right.min.css">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
	{{{body}}}
</body>
</html>
