<!DOCTYPE html>
<html>
<head>
  <link href="/css/about.css" rel="stylesheet">
  <title>About Us | blueprint</title>
</head>
<body>
  {{>topnav-alt}}
  <div id="container">
    <div id="title">
      <h1>About Us</h1>
    </div>
    <hr>
    <div id="container2">
      <div class="desc">
        <h3>Dependencies</h3>
        <ul>
          <li>bcrypt</li>
          <li>body-parser</li>
          <li>calendar</li>
          <li>connect-mongo</li>
          <li>dotenv</li>
          <li>express</li>
          <li>express-handlebars</li>
          <li>express-validator</li>
          <li>express-session</li>
          <li>mongodb</li>
          <li>mongoose</li>
          <li>multer</li>
          <li>path</li>
        </ul>
      </div>
      <div class="desc">
        <h3>External Libraries</h3>
        <ul>
          <li>Bootstrap</li>
          <li>jQuery</li>
          <li>Popper</li>
          <li>Timepicker</li>
          <li>Timepicker</li>
          <li>validator.js</li>
        </ul>
      </div>
    </div>
  </div>
</body>
</html>