<!DOCTYPE html>
<html>
<head>
	<link href="../css/register.css" rel="stylesheet">
	<title>Sign Up | blueprint</title>
</head>
<body>
	{{>topnav-alt}}
	<div class="auth-bg">
		<div class="tile">
			<h1>error!</h1>
		</div>
	</div>
</body>
</html>
