<!DOCTYPE html>
<html>
<head>
	<link href="/css/error.css" rel="stylesheet">
	<title>Error | blueprint</title>
</head>
<body>
	{{>topnav-alt}}
	<div id="container">
		<div id="error">
			<h1>{{code}}</h1>
		</div>
		<div id="desc">
			<h3>{{error}}</h3>
		</div>
		<hr>
		<div id="desc">
			<a href="/">Return to the main page.</a>
		</div>
	</div>
</body>
</html>