<!DOCTYPE html>
<html>
<head>
	<link href="/css/home.css" rel="stylesheet">
	<title>Home | blueprint</title>
</head>
<body>
  {{>topnav flag=flag}}
	<div class="main-content">
    <div id="title">
      <ul class="breadcrumb">
        <li><a href="/home">blueprint</a></li>
        <li>Home</li>
      </ul> 
    </div>
    {{>calendar this}}
    {{>tasks this}}
  </div>
</body>
</html>
