<!DOCTYPE html>
<html>
<head>
	<link href="/css/home.css" rel="stylesheet">
	<title>Home | blueprint</title>
</head>
<body>
  {{>topnav flag=flag}}
	<div class="main-content">
    <div id="title">
      <ul class="breadcrumb">
        <li><a href="/home">blueprint</a></li>
        <li>Home</li>
      </ul> 
    </div>
    {{>calendar this}}
  
    <div id="task">
      <h1>Your Tasks</h1>
      <h5>Your list of upcoming deadlines!</h5><hr>
      {{#each reqs}}
        {{>tasks}}
      {{else}}
        <h1>Congratulations!</h1>
        <h5>You are done for the month!</h5>
      {{/each}}
    </div>
  </div>
</body>
</html>
