<!DOCTYPE html>
<html>
<head>
	<link href="/css/home.css" rel="stylesheet">
	<title>Home | blueprint</title>
</head>
<body>
  {{>topnav flag=flag}}
	<div class="main-content">
    <div id="title">
      <ul class="breadcrumb">
        <li><a href="/home">blueprint</a></li>
        <li>Home</li>
      </ul> 
    </div>
    {{>calendar this}}
  
    <div id="task">
      <h1>Your Tasks</h1>
      <h5>Your list of upcoming deadlines!</h5><hr>
      {{#each reqs}}
        {{>tasks}}
      {{else}}
        <h2 style="margin-bottom: 0px; text-align: center; margin-top: 50%; ">Congratulations!</h2>
        <h3 style="text-align: center">You are done for the month.</h3>
      {{/each}}
    </div>
  </div>
</body>
</html>
