<!DOCTYPE html>
<html>
<head>
	<link href="../css/register.css" rel="stylesheet">
	<script src="https://code.jquery.com/jquery-3.4.1.min.js" type="text/javascript"></script>
	<script src="/js/validator.min.js" type="text/javascript"></script>
	<script type="text/javascript" src="/js/signup.js"></script>
	<title>Sign Up | blueprint</title>
</head>
<body>
	{{>topnav-alt}}
	<div class="auth-bg">
		<div class="tile">
			<div class = "container box">
				<div class = "display box" style="padding-top: 40px">
					<div class = "auth-content">
						<div class = "display">
							<div class = "logo_container" style="margin-top: 5px">
								<img src = "../images/user.png" class = "logo" alt = "Blueprint Logo">
							</div>
						</div>
						<div class = "form">
							<form id = "register" method="post">
								<p id="error"></p>
								<div class = "form-left">
									<div class = "container input-group mb-3">
										<label for="fName" class="input_field">Name</label>
										<input type="text" name="fName" id="fName" class="form-control input_user" placeholder="First Name" required>
									</div>
								</div>
								<div class = "form-right">
									<div class = "container input-group mb-3">
										<input type="text" name="lName" id="lName" class="form-control input_user" placeholder="Last Name" required>
									</div>
								</div>
								<div class = "container input-group mb-3">
									<label for="email" class="input_field">E-mail</label>
									<input type="email" name="email" id="email" class="form-control input_user" placeholder="example@example.com" required>
								</div>
								
								<div class = "container input-group mb-3">
									<label for="username" class="input_field">Username</label>
									<input type="text" name="username" id="username" class="form-control input_user" placeholder="" required>
								</div>
								
								<div class = "container input-group mb-3  ">
									<label for="password" class="input_field">Password</label>
									<input type="password" name="password" id="password" class="form-control input_pass" placeholder = "" required>
								</div>
								<div class = "container input-group mb-3  ">
									<label for="school" class="input_field">University</label>
									<input type="text" name="school" id="school" class="form-control input_user" placeholder="De La Salle University" required>
								</div>
								<div class = "display" id = "button-div">
									<input type="submit" id="signup_button" value="Sign Up" class = "btn signup_button" name = "signup_button">
								</div>
							</form>
						</div>
						<div><br>
							<div class = "display">
								<p style = "margin-bottom: -5px"> Already have an account? </p> 
							</div>
							<div class = "display">
								<a href = "login">Log in now!</a>
							</div><br>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</body>
</html>
