<html>
<head>
  <link href="/css/splash.css" rel="stylesheet">
  <title>Main Page | blueprint</title>
</head>
<body>
  <div id="content">
    <div class="splash-bg-main">
      <div class="tile">
        <div class="text">
          <img src="/images/logo.png" id="logo-m">
          <h2 id="tagline">Create. Collaborate. Communicate.</h2>
          <a class="button" href="login">Log In</a> 
          <a class="button" href="register">Sign Up</a>
        </div>
      </div>
    </div>
    <div class="split"></div>
    <div class="splash-bg-sub1">
      <div class="tile">
        <div class="text-sub">
          <img src="/images/calendar.png">
          <h2 class="feature">Calendar organization like you have never seen before.</h2>
          <h6>Keep all your schedules in one place. See all your group meetings, deadlines and class conferences in one glance at our calendar. Treat blueprint like your own planner!</h6>
        </div>
      </div>
    </div>
    <div class="split"></div>
    <div class="splash-bg-sub2">
      <div class="tile">
        <div class="text-sub">
          <img src="/images/dialogue.png">
          <h2 class="feature">Collaborate anywhere, anytime without limit.</h2>
          <h6>blueprint allows students from the same course to find each other for easier collaboration. Update class deadlines to help your classmates be notified about class requirements. You can even put your class notes so that your classmates could modify it and add things you may have missed.</h6>
        </div>
      </div>
    </div>
    <div class="split"></div>
    <div class="splash-bg-sub3">
      <div class="tile">
        <div class="text-sub">
          <img src="/images/lightbulb.png">
          <h2 class="feature">Building bridges and connections to a brighter future.</h2>
          <h6>blueprint opens new bridges of communication between you and your classmates. Utilize discussion boards to open intelligent conversations about topics, note sharing boards to collaborate with classmates, and class requirements calendar to make sure that you won’t miss a single thing!</h6>
        </div>
      </div>
    </div>
    <footer>
      <div class="bg-light py-1">
        <div class="container text-center">
          <p class="text-muted mb-0 py-3">
            <a href="/about-us" style="font-size: 2vh;">About Us</a>
          </p>
        </div>
      </div>
    </div>
    </footer>
  </div>
</body>
</html>
