<!DOCTYPE html>
<html>
<head>
	<link href="/css/success.css" rel="stylesheet">
	<title>Delete Profile | blueprint</title>
</head>
<body>
	{{>topnav-alt}}
	<div id="container">
		<div id="welcome">
			<h1>You have successfully deleted your account!</h1>
		</div>
		<div id="link">
			<a href="/">Go back to the splash page.</a>
		</div>
	</div>
</body>
</html>
