@import url('https://fonts.googleapis.com/css2?family=Pangolin&family=Rubik:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300&display=swap');

body {
	background-image: url("../images/tile.png");
}

.main-content > div {
  	margin: 20px;
}

#title {
	width: 100%;
	padding: 10px;
	margin-top: -15px;
	margin-bottom: -35px;
}

#calendar {
	flex-grow: 6;
	background-color: white;
	padding: 40px;
	box-shadow: 0 4px 4px 0 rgba(29, 53, 87, 0.2), 0 4px 10px 0 rgba(29, 53, 87, 0.19);
}

#task {
	flex-grow: 2;
	background-color: white;
	padding: 40px;
	box-shadow: 0 4px 4px 0 rgba(29, 53, 87, 0.2), 0 4px 10px 0 rgba(29, 53, 87, 0.19);
}

table {
	width: 100%;
	height: 60vh;
}

.cal-table td {
	font-family: 'Rubik', sans-serif;
	font-size:2vh;
	text-align: center;
  	overflow:hidden;
  	padding:10px 5px;
  	word-break:normal;
  	width:14%;
 }

.cal-table th {
	background-color: #1d3557; 
	border-width:0px;
	color: white;
	border-width:0px;
	font-family: 'Rubik', sans-serif;
	font-size:2vh;
	text-align: center;
  	font-weight:500;
  	overflow:hidden;
  	padding:10px 5px;
  	word-break:normal;
 }

.cal-table tr:nth-child(1) {
	background-color: #457b9d;
	border-width:0px;
	color: white;
	height: 20px;
}

.with-task {
	background-color: #fcfcfc;
	border: 0.5px solid #a8dadc;
	text-decoration: underline #a8dadc;
	text-decoration-thickness: 5px;
}

.with-task p {
	color: black;
	font-weight: bold;
}

.not-month {
	background-color: #eeeeee;
	color: #616161;
	font-weight: italic;
}

.in-month {
	background-color: #fcfcfc;
}

.in-month p {
	color: black;
}

.today p {
	background-color: #ffb0b0;
	text-align: center;
	border-radius: 50%;
	width: 30px;
	margin-left: auto;
	margin-right: auto;
}

.task-details {
	margin-top: 0px;
	margin-bottom: 0;
}

.links
{
    text-decoration: none;
    color: black;
}