body, html {
	height: 100%;
	width: 100%;
	background: #457B9D !important;
	margin: 0;
	padding: 0;
}

label {
	margin-right: 20px;
}

.auth-content {
	height: 550px;
	width: 600px;
}

.form {
	display: flex; 
	justify-content: center; 
	margin-top: 120px; 
	margin-left: auto;
	margin-right: auto;
	width: 100%;
	height: 65%;
}


.signup_button {
	width: 10%;
	background: #A8DADC !important;
	color: #1D3557 !important;
	clear: both;
	width: 100px;
}

.field {
	width: 80%;
	clear: right;
}

.input_field {
	line-height: 40px; 
	width: 80px;
}

.form-left .form-right {
	display: block;
}

#fName, #lName,
#email, #username,
#password, #school {
	border-radius: 0px; 
	color: black;
}

#button-div {
	padding: 0 40px; 
	margin-top: 10px;
}