body, html {
	height: 100%;
	width: 100%;
	background: #457B9D !important;
	margin: 0;
	padding: 0;
}

.auth-content {
	height: 400px;
	width: 350px;
}

.form_container {
	margin-top: 100px;
}

.group {
	background: #A8DADC !important;
	color: #1D3557 !important;
	border: 0;
	height: 40px;
}

.login_button {
	width: 100%;
	background: #A8DADC !important;
	color: #1D3557 !important;
	font-family: 'Rubik', sans-serif;
	font-weight: 400;
}
